{% extends 'base/base2.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | Jwellary </title>
  <link rel="stylesheet" href="{% static 'css/product.css' %}" />
{% endblock %}
{% block content %}
  <div class="product-container">
    {% for product in products %}
      <div class="product-card">
        <div class="image-wrapper">
          <img src="{{ product.image.url }}" alt="{{ product.name }}" />
        </div>
        <div class="product-content">
          <h3 class="product-title">{{ product.name }}</h3>

          <div class="price-box">
            <span class="old-price">₹{{ product.mainprice }}</span>
            <span class="discount">{{ product.discount_percentage }}% OFF</span>
          </div>

          <p class="product-price">₹{{ product.price }}</p>

          <div class="button-group">
            <a href="#" class="buy-btn">Buy Now</a>

            <div class="bottom-btns">
              <a href="{% url 'product_detail' product.name %}" class="small-btn">Details</a>

              <a href="#" class="small-btn">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
