 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f7f7f7;
    color:#222;
    overflow-x:hidden;
}

body{
    overflow:hidden;
}
/* ================= LUXA INTRO ANIMATION ================= */


.hero-content{
    position: absolute;
    top: 55%;
    left: 8%;
    transform: translateY(-50%);
    max-width: 770px;
}

.hero-content h1{
    font-size: 42px;
    opacity: 0;
    color: #b8860b;
    text-shadow: 0 0 20px rgba(212,175,55,.3);
    animation: luxaTitleReveal 2s ease forwards;
}

.hero-content .subtitle{
    opacity: 0;
    animation: subtitleReveal 1s ease forwards;
    animation-delay: 1.5s;
}

/* LUXA Title Animation */

@keyframes luxaTitleReveal{

    0%{
        opacity: 0;
        transform: translateY(100px) scale(.7);
        letter-spacing: 25px;
        filter: blur(10px);
    }

    50%{
        opacity: .7;
    }

    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
        letter-spacing: 6px;
        filter: blur(0);
    }
}

/* Subtitle Animation */

@keyframes subtitleReveal{

    0%{
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Gold Shine Effect */

.hero-content h1::after{
    content: '';
    position: absolute;
    top: 0;
    left: -120%;
    width: 80px;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.8),
        transparent
    );
    transform: skewX(-20deg);
    animation: shine 1.5s ease 2s forwards;
}

@keyframes shine{
    from{
        left: -120%;
    }
    to{
        left: 130%;
    }
}