@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f8f8f8;
}

.product-container{
    width:95%;
    margin:30px auto;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:25px;
}

.product-card{
    width:300px;
    background:#fff;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 3px 15px rgba(0,0,0,.08);
    transition:.3s;

    display:flex;
    flex-direction:column;
}

.product-card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.image-wrapper{
    width:100%;
    height:400px;
    overflow:hidden;
}

.image-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:top;
    transition:.5s;
}

.product-card:hover .image-wrapper img{
    transform:scale(1.08);
}

.product-content{
    padding:18px;
    display:flex;
    flex-direction:column;
    flex:1;
}

.product-title{
    text-align:center;
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}

.price-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:5px;
}

.old-price{
    text-decoration:line-through;
    color:#999;
    font-size:15px;
}

.discount{
    color:#0f9d58;
    font-weight:700;
}

.product-price{
    text-align:center;
    font-size:28px;
    font-weight:700;
    margin-bottom:20px;
}

/* BUTTONS */

.button-group{
    margin-top:auto;
}

.buy-btn{
    display:block;
    width:100%;
    text-decoration:none;
    text-align:center;

    padding:13px;

    background:linear-gradient(
        135deg,
        #b8860b,
        #d4af37,
        #f5d67b
    );

    color:#fff;
    border-radius:8px;

    font-size:15px;
    font-weight:600;

    transition:.3s;
}

.buy-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(212,175,55,.4);
}

.bottom-btns{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.small-btn{
    flex:1;
    text-decoration:none;
    text-align:center;

    padding:11px;

    border:2px solid #d4af37;
    border-radius:8px;

    color:#d4af37;
    background:transparent;

    font-size:14px;
    font-weight:600;

    transition:.3s;
}

.small-btn:hover{
    background:#d4af37;
    color:#fff;
    transform:translateY(-2px);
}

@media(max-width:768px){

    .product-container{
        width:100%;
        padding:15px;
        justify-items:center;
    }

    .product-card{
        width:100%;
        max-width:350px;
    }

    .image-wrapper{
        height:350px;
    }
}