{% extends 'base/base2.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | My Cart</title>
  <link rel="stylesheet" href="{% static 'css/add_to_cart.css' %}" />
  
{% endblock %}

{% block content %}
  <div class="cart-wrapper">
    <div class="cart-left">
      <h2>Shopping Cart</h2>

      {% if items %}
        {% for item in items %}
       <div class="cart-card" id="cart-card-{{ item.id }}">
            <img src="{{ item.product.image.url }}" alt="" />

            <div class="cart-details">
              <h3>{{ item.product.name }}</h3>

            <p class="price">₹{{ item.product.price }}</p>

<p class="item-total"
   id="item-total-{{ item.id }}">
   Total: ₹{{ item.total_price }}
</p>

             
                <div class="qty-box">

    <button type="button"
            class="qty-btn"
            onclick="decreaseQty({{ item.id }})">
        -
    </button>

    <span class="qty-number"
          id="qty-{{ item.id }}">
        {{ item.quantity }}
    </span>

    <button type="button"
            class="qty-btn"
            onclick="increaseQty({{ item.id }})">
        +
    </button>

</div>
 
<button type="button"
        class="remove-btn"
        onclick="removeCart({{ item.id }})">
    Remove
</button>
          </div>
        {% endfor %}
      {% else %}
  
        <div class="empty-cart">
          <i class="fa-solid fa-cart-shopping"></i>

          <h2>Your Cart Is Empty</h2>

          <p>Add Products To Continue Shopping</p>

        </div>
      {% endif %}
    </div>

    <div class="cart-right">
      <div class="summary-card">
        <h2>Order Summary</h2>

        <div class="summary-row">
          <span>Subtotal</span>
         <span id="subtotal">
    ₹{{ subtotal }}
</span>
        </div>

        <div class="summary-row">
          <span>Shipping</span>
          <span>₹{{ shipping }}</span>
        </div>

        <div class="summary-row total">
          <span>Total</span>
         <span id="grand-total">
    ₹{{ total }}
</span>
        </div>

        <a href="#" class="checkout-btn">Proceed To Checkout</a>
      </div>
    </div>
  <script>


function increaseQty(cartId){

    fetch(`/increase/${cartId}/`)
    .then(response => response.json())
    .then(data => {

        document.getElementById(
            `qty-${cartId}`
        ).innerText = data.quantity;

        document.getElementById(
            `item-total-${cartId}`
        ).innerText =
        "Total: ₹" + data.item_total;

        document.getElementById(
            "subtotal"
        ).innerText =
        "₹" + data.subtotal;

        document.getElementById(
            "grand-total"
        ).innerText =
        "₹" + data.total;

    });

}

function decreaseQty(cartId){

    fetch(`/decrease/${cartId}/`)
    .then(response => response.json())
    .then(data => {

        document.getElementById(
            `qty-${cartId}`
        ).innerText = data.quantity;

        document.getElementById(
            `item-total-${cartId}`
        ).innerText =
        "Total: ₹" + data.item_total;

        document.getElementById(
            "subtotal"
        ).innerText =
        "₹" + data.subtotal;

        document.getElementById(
            "grand-total"
        ).innerText =
        "₹" + data.total;

    });

}
function removeCart(cartId){

    fetch(`/remove-cart/${cartId}/`)
    .then(response => response.json())
    .then(data => {

        const card =
        document.getElementById(
            `cart-card-${cartId}`
        );

        if(card){
            card.remove();
        }

        document.getElementById(
            "subtotal"
        ).innerText =
        "₹" + data.subtotal;

        document.getElementById(
            "grand-total"
        ).innerText =
        "₹" + data.total;

    });

}


</script>
{% endblock %}
