{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %}

    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
    {% comment %} <footer>
      <div class="footer">
        <p>Mobile : 9963254187</p>
        <p>Email : Jwelary@gmail.com</p>
        <p>We provide elegant and stylish jewellery collections designed for girls and women. Quality, beauty and affordability are our priority.</p>
        <p>© 2025 Jewellery Collection. All Rights Reserved.</p>
      </div>
    </footer> {% endcomment %}
  </body>
</html>
