{% extends 'base/base2.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | Check Out</title>
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />

{% endblock %}

{% block content %}
  <div class="checkout-page">
    <h2 class="checkout-title">Checkout</h2>

    <div class="checkout-container">
      <!-- LEFT SIDE: PRODUCTS -->
      <div class="checkout-left">
        <h3>Your Products</h3>

        {% for item in items %}
          <div class="product-row">
            <img src="{{ item.product.image.url }}" alt="" />

            <div class="product-info">
              <h4>{{ item.product.name }}</h4>
              <p>Qty: {{ item.quantity }}</p>
              <p>Price: ₹{{ item.product.price }}</p>
              <p>
                <b>Total: ₹{{ item.total_price }}</b>
              </p>
            </div>
          </div>
        {% endfor %}
        <p>
          <b>₹ {{ total }}</b>
        </p>
      </div>

      <!-- RIGHT SIDE: FORM -->
      <div class="checkout-right">
        <form class="checkout-form" method="POST">
          {% csrf_token %}
            <label>Email</label>
          <input type="email" name="email">
          
          <label>Full Name</label>
          <input type="text" name="name" required />

          <label>Phone Number</label>
          <input type="text" name="phone" required />


          <label>Address</label>
          <textarea name="address" required></textarea>

          <hr />

          <h3>Payment Method</h3>

          <p>
            <b>Cash on Delivery (COD)</b>
          </p>

          <hr />

          <p>✓ You will pay when product is delivered</p>
          <p>✓ Delivery: 3–7 days</p>

          <button type="submit">Place Order</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
