{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection</title>
  <link rel="stylesheet" href="{% static 'css/luxa.css' %}" />
  <link rel="icon" type="image/png"
          href="{% static 'image/web3.png' %}">
{% endblock %}

{% block content %}
  <section class="hero">
    <img src="{% static 'image/home.png' %}" alt="LUXA Collection" />

    <div class="hero-content">
      <h1 class="luxa-title">LUXA COLLECTION</h1>

      <p class="subtitle animate-subtitle">Collection For Luxury Design</p>
    </div>
  </section>

<script>
window.addEventListener("load", () => {
    setTimeout(() => {
        window.location.href = "/home/";
    }, 3500);
});
</script> 
{% endblock %}
