{% extends 'base/base2.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | New Collection</title>

  <link rel="stylesheet" href="{% static 'css/new_collection.css' %}" />
  
{% endblock %}

{% block content %}
  <!-- Hero Banner -->
  <section class="collection-banner">
    <div class="banner-overlay">
      <span class="new-tag">✨ JUST ARRIVED</span>

      <h1>New Collection 2026</h1>

      <p>Discover the latest arrivals crafted with elegance, style and luxury.</p>
    </div>
  </section>



  <!-- Products -->
  <div class="product-container">
    {% for product in products %}
      <div class="product-card">
        <div class="image-wrapper">
          <span class="product-badge">NEW</span>

         <a href="{% url "product_detail" product.name  %}"> <img src="{{ product.image.url }}" alt="{{ product.name }}" /></a>
        </div>

        <div class="product-content">
          <div class="top-info">
            <span class="arrival-tag">✨ New Arrival</span>
          </div>

          <h3 class="product-title">{{ product.name }}</h3>

          <div class="price-box">
            <span class="old-price">₹{{ product.mainprice }}</span>

            <span class="discount">{{ product.discount_percentage }}% OFF</span>
          </div>

          <p class="product-price">₹{{ product.price }}</p>

          <div class="button-group">
            <a href="{% url 'add_to_cart' product.name %}?buy=1" class="buy-btn">Buy Now</a>

            <div class="bottom-btns">
              <a href="{% url 'product_detail' product.name %}" class="small-btn">Details</a>

              <a href="{% url 'add_to_cart' product.name %}" onclick="addToCart({{ product.name }})" class="small-btn">Add To Cart</a>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="empty-products">
        <h2>No New Products Available</h2>
        <p>Please check back later for fresh arrivals.</p>
      </div>
    {% endfor %}
  </div>

   <script>
    function addToCart(productId) {
      fetch(`/add_to_cart/${productName}/`)
        .then((response) => response.json())
        .then((data) => {
          alert('Product Added To Cart')
        })
    }
  </script>
{% endblock %}
