{% extends 'base/base2.html' %}
{% load static %}
{% block head %}
<title> LUXA Collection | {{ product.name }}</title>
<link rel="stylesheet" href="{% static "css/product_detail.css" %}">
{% endblock head %}

{% block content %}
  <div class="detail-container">
    <div class="detail-image">
      <img src="{{ product.image.url }}" alt="{{ product.name }}" />
    </div>

    <div class="detail-info">
      <h1>{{ product.name }}</h1>

      <div class="price-section">
        <span class="discount-price">{{ product.discount }}</span>

        <span class="main-price">₹{{ product.mainprice }}</span>

        <span class="offer">{{ product.discount_percentage }}% OFF</span>

        <span class="discount-price">₹{{ product.price }}</span>
      </div>

      <p class="description">{{ product.description }}</p>

      <div class="bottom-btns">
              <a href="#" class="small-btn">Buy</a>

              <a href="#" class="small-btn">Add To Cart</a>
            </div>
    </div>
  </div>
{% endblock %}
