{% extends 'admin/base_admin.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | Add Product</title>
  <link rel="stylesheet" href="{% static 'admincss/addpro.css' %}" />
{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.name }}
    {{ form.description }}
    {{ form.mainprice }}
    {{ form.price }}
    {{ form.category }}
    {{ form.image }}

    <button type="submit">Add Product</button>
  </form>
{% endblock %}
