{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | Admin Login</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="{% static "admincss/adminlogin.css" %}">
  <link rel="icon" type="image/png"
          href="{% static 'image/web3.png' %}">
 
{% endblock %}

{% block content %}
  <div class="login-container">
    <div class="login-card">
      <div class="logo">
        <i class="fa-solid fa-crown"></i>
      </div>

      <h2>LUXA SELLER</h2>
      <h3>LOGIN ONLY SELLER</h3>

      <form method="POST">
        {% csrf_token %}

        <div class="input-group">
          <input type="email" name="email" placeholder="Enter Email" required />
        </div>

        <div class="input-group">
          <input type="password" name="password" placeholder="Enter Password" required />
        </div>

        <button type="submit" class="login-btn">LOGIN</button>
      </form>
      

      <div class="login-footer">
        Welcome to <span>LUXA Collection</span> Seller Dashboard
      </div>
   
   
   
    </div>
  </div>
{% endblock %}
