{% extends 'admin/base_admin.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | Orders</title>
  <link rel="stylesheet" href="{% static 'admincss/order.css' %}" />
{% endblock %}

{% block content %}
<div class="dashboard-container">
  <h2>🛒 Order Dashboard</h2>

  <table class="order-table">
    <thead>
      <tr>
        <th>Product Image</th>
        <th>Customer</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for order in orders %}
      <tr class="{% if order.is_shipped %}shipped-row{% endif %}">
        
        <td>
          <a href="{% url 'product_detail' order.product.name %}">
            <img src="{{ order.product.image.url }}" width="80">
          </a>
        </td>

        <td>{{ order.user.name }}</td>

        <td>{{ order.product.name }}</td>

        <td>{{ order.quantity }}</td>

        <td>₹{{ order.total_price }}</td>

        <td>
          {% if not order.is_shipped %}
            <a href="{% url 'mark_shipped' order.id %}" class="ship-btn">
              Ship
            </a>
          {% else %}
            <span class="shipped-text">Shipped ✔</span>
          {% endif %}
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No Orders Found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}