{% extends 'admin/base_admin.html' %}
{% load static %}

{% block head %}
  <title>LUXA Collection | Collection Department</title>
  <link rel="stylesheet" href="{% static 'css/collection_department.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Shop Collections</h1>
    <div class="collection-grid">
      <a href="{% url 'admin_saree' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/saree/bleck saree.jfif' %}" alt="" />
          <h3>Saree</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'dress' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/dress/yellow dress.jfif' %}" alt="" />
          <h3>Dress</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'heals' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct\heals\baby purpule heals.jfif' %}" alt="" />
          <h3>Heals</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'shoes' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/shoes/pink shoes.jfif' %}" alt="" />
          <h3>Shoes</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'jwelery' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/jwelary/dimond pair of jewelry.jfif' %}" alt="" />
          <h3>Jwellery</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'footwear' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/footwear/sky blue sliper.jfif' %}" alt="" />
          <h3>Footwear</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'shert' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/shert/onlyshert.png' %}" alt="" />
          <h3>Shert</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>

      <a href="{% url 'pent' %}" class="card-link">
        <div class="card">
          <img src="{% static 'demoproduct/pent/blue butcut pent.jfif' %}" alt="" />
          <h3>Pent</h3>
          <span class="view-btn">View Collection</span>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
